.anagram {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-family: 'Alias';
  font-size: 6vh;
  color: rgba(255, 255, 255, 0.55);
  text-transform: uppercase;
  z-index: -1;
  display: flex;
  opacity: 0;
  transition: 0.5s;
}
