.cue {
  position: absolute;
  left: 50%;
  font-size: 4.25vh;
  z-index: 1;
  cursor: pointer;

  &.top {
    animation: bounce-top 2s infinite;
    top: 12vh;
    @media screen and (min-width: $TABLET_SM_BREAKPOINT) {
      top: 10vh;
    }
  }

  &.bottom {
    animation: bounce-bottom 2s infinite;
    bottom: 13vh;
    @media screen and (min-width: $MOBILE_BREAKPOINT) {
      bottom: 5vh;
    }
  }
}
