.locale-switcher {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(3vh + 7px);
  height: calc(3vh + 7px);

  .selected-locale,
  .locale {
    cursor: pointer;
  }

  .selected-locale {
    position: absolute;
    right: 0;
  }

  .locales-menu {
    display: none;
    opacity: 0;

    .locale {
      opacity: 0;
      height: 70%;
      width: 70%;
    }
  }
}
