footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity;

  p {
    margin-left: 15px;
  }

  p, time, h1 {
    font-size: calc(1.7vh + 6px);
  }
}
