header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
  transition-property: opacity;

  .header-nav {
    position: relative;
    display: inline-flex;
    margin-left: 15px;
    margin-right: 15px;
    flex: 1;

    .home-link {
      font-size: 7vh;
    }

    ul {
      justify-content: center;
      align-items: center;
      margin-left: 7.5px;
      display: none;
      opacity: 0;

      li {
        margin-left: 7.5px;
        margin-right: 7.5px;

        a {
          background-color: $TERCIARY_COLOR;
          border-radius: 50px;
          height: calc(4vh + 7px);
          width: calc(4vh + 7px);
        }
      }
    }
  }

  @import '../widgets/locale-switcher';
}
