.more-section {
  &.about-more,
  &.home-more {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
  }

  &.skills-more {
    .front-skills,
    .back-skills {
      position: relative;
      height: 100%;
      width: 0;

      .skill {
        display: none;
        opacity: 0;
        border-radius: 50%;
        position: absolute;
        transform: scale(0);
        color: white;
        cursor: url('../images/grab.cur'), move;

        .title {
          visibility: visible;
          opacity: 1;
          transition: 0.5s;
          transition-timing-function: ease-in-out;
          font-weight: normal;
        }

        .percent {
          font-family: 'Alias', sans-serif;
          visibility: hidden;
          opacity: 0;
          transition: 0.5s;
          transition-timing-function: ease-in-out;
        }

        &:hover {
          .title {
            visibility: hidden;
            opacity: 0;
          }

          .percent {
            visibility: visible;
            opacity: 1;
          }
        }

        &:active {
          cursor: grabbing;
        }
      }

      .react-skill {
        top: 47vh;
        left: -14vh;
        background-color: $SECONDARY_COLOR;
        width: 12vh;
        height: 12vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 55vh;
          left: -18vh;
        }
      }

      .html-skill {
        top: 52vh;
        left: 14vh;
        background-color: $SECONDARY_COLOR;
        width: 8vh;
        height: 8vh;
        font-size: 1.8vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          left: 22vh;
        }
      }

      .symfony-skill {
        top: -6%;
        left: 9vh;
        background-color: $QUATERNARY_COLOR;
        width: 12vh;
        height: 12vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 8%;
        }
      }

      .css-skill {
        top: -15%;
        left: -23vh;
        background-color: $SECONDARY_COLOR;
        width: 8vh;
        height: 8vh;
        font-size: 1.8vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 15%;
        }
      }

      .js-skill {
        top: 33%;
        left: 14vh;
        background-color: $SECONDARY_COLOR;
        width: 14vh;
        height: 14vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          left: 18vh;
        }
      }

      .php-skill {
        top: 35vh;
        left: -26vh;
        background-color: $QUATERNARY_COLOR;
        width: 8vh;
        height: 8vh;
        font-size: 2vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          left: -31vh;
        }
      }

      .docker-skill {
        top: 21%;
        left: -19vh;
        width: 11vh;
        height: 11vh;
        background-color: $TERCIARY_COLOR;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 26%;
          left: -12vh;
        }
      }

      .node-skill {
        top: 16%;
        left: 1vh;
        width: 11vh;
        height: 11vh;
        background-color: $QUATERNARY_COLOR;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 29%;
          left: 5vh;
        }
      }

      .jenkins-skill {
        top: 56%;
        left: 7vh;
        width: 10vh;
        height: 10vh;
        background-color: $TERCIARY_COLOR;
      }

      .mysql-skill {
        left: -10vh;
        top: 16vh;
        background-color: $QUATERNARY_COLOR;
        width: 11vh;
        height: 11vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 30vh;
        }
      }

      .mongo-skill {
        top: 20vh;
        left: 0vh;
        background-color: $QUATERNARY_COLOR;
        width: 11vh;
        height: 11vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 33vh;
        }
      }

      .sass-skill {
        top: 38vh;
        left: 0vh;
        background-color: $SECONDARY_COLOR;
        width: 12vh;
        height: 12vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 53vh;
        }
      }

      .redux-skill {
        top: -7vh;
        left: -8vh;
        background-color: $SECONDARY_COLOR;
        width: 12vh;
        height: 12vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 5vh;
        }
      }

      .webpack-skill {
        background-color: $TERCIARY_COLOR;
        top: 29vh;
        left: -11vh;
        width: 12vh;
        height: 12vh;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          top: 43vh;
        }
      }
    }
  }

  &.about-more {
    .title,
    .sub-title {
      color: white;
      width: inherit;
      left: 0;
    }

    .react-logo,
    .webpack-logo,
    .title,
    .sub-title {
      opacity: 0;
      display: none;
      position: absolute;
    }

    .webpack-logo,
    .react-logo {
      top: calc(50% - 5vh);
      font-size: 10vh;
      text-align: center;
    }

    .title {
      top: 25%;
    }

    .webpack-logo {
      right: 0;
    }

    .react-logo {
      left: 0;
    }

    .sub-title {
      bottom: 25%;
    }
  }

  &.home-more {
    background-color: rgba(208,184,172,0.5);
    flex-wrap: nowrap;
    @media screen and (min-width: $MOBILE_BREAKPOINT) {
      flex-wrap: wrap;
      flex-direction: row;
    }
    @media screen and (min-width: $TABLET_SM_BREAKPOINT) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
    @media screen and (min-width: $TABLET_XL_BREAKPOINT) {
      flex-wrap: wrap;
      flex-direction: row;
    }

    aside {
      height: 20%;
      color: white;
      justify-content: center;
      align-items: center;
      position: relative;
      font-family: 'Alias';
      overflow: hidden;
      transition: 0.5s;
      transition-property: color, width, height, font-size;
      flex-direction: column;
      @media screen and (min-width: $MOBILE_BREAKPOINT) {
        height: 50%;
        width: 25%;
        border-radius: 50%;
      }
      @media screen and (min-width: $TABLET_SM_BREAKPOINT) {
        height: 20%;
        width: 100%;
        border-radius: 0;
      }
      @media screen and (min-width: $TABLET_XL_BREAKPOINT) {
        height: 50%;
        width: 25%;
        border-radius: 50%;
      }

      .title,
      .sub-title {
        transition: 0.5s;
        transition-property: opacity;
        font-size: 3.5vh;
      }

      .title {
        opacity: 1;
        display: inline-table;
        width: 100%;
        text-align: center;
      }

      .sub-title {
        opacity: 0;
        text-align: center;
        width: 75%;
        flex-direction: column;

        p {
          width: 100%;
        }

        li,
        .tree,
        .embed,
        .clipboard {
          margin-top: 15px;
        }

        .browsers {
          flex-wrap: wrap;
          width: 100%;

          li {
            flex: 1;
          }
        }
      }

      &:nth-child(1) {
        color: $PRIMARY_COLOR;
      }

      &:nth-child(2) {
        color: black;
      }

      &:nth-child(3) {
        color: $SECONDARY_COLOR;
      }

      &:nth-child(4) {
        color: $QUATERNARY_COLOR;
      }

      &:before {
        transform: translate(-120%,-50%) translateZ(0);
        content: '';
        display: block;
        background-color: $PRIMARY_COLOR;
        position: absolute;
        top: 0;
        left: -100px;
        width: 200%;
        height: 500%;
        border-radius: 100%;
        transition: .5s cubic-bezier(0.4, 0.0, 1, 1);
        border-right: 0.5px solid transparent;
        @media screen and (min-width: $MOBILE_BREAKPOINT) {
          left: -90px;
        }
        @media screen and (min-width: $TABLET_SM_BREAKPOINT) {
          left: -180px;
        }
        @media screen and (min-width: $TABLET_XL_BREAKPOINT) {
          left: -100px;
        }
      }

      &:hover {
        color: white;

        .title {
          opacity: 0;
        }

        .sub-title {
          opacity: 1;

          .browsers {
            opacity: 1;
          }
        }

        &:before {
          transform: translate(-10%,-10%) translateZ(0);
        }
      }
    }
  }
}
