.notification {
  font-size: 4.5em;
  color: white;
  font-weight: bold;
  z-index: 0;
  opacity: 0;

  .notification-text,
  .rounded {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .notification-text {
    z-index: 1;
    line-height: 1;
    text-transform: capitalize;
    font-size: 6vh;
    text-align: center;
    width: 32.2vh;
  }

  .rounded {
    &.rounded-plain {
      width: 32.2vh;
      height: 32.2vh;
      background-color: $PRIMARY_COLOR;
      border-radius: 3em;
    }

    .rounded-dashed {
      border-radius: 2.4em;
      background-color: transparent;
      border: 2px dashed $PRIMARY_COLOR;
      width: 33.3vh;
      height: 33.3vh;
    }
  }
}
