.tag {
  z-index: -1;
  color: rgba(255,255,255,0.55);
  font-size: 5vh;
  position: absolute;
  top: 50%;
  left: calc(20vw - 60px);
  transform: translateY(-50%);
  font-family: 'Alias', sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  transition-property: opacity;
  width: 2.7vh;
  text-align: center;
  word-break: break-all;
  white-space: pre-wrap;
  line-height: 1;

  &:before {
    content: '#';
  }
}
