.main-section {
  .page-content {
    .element-4 {
      font-size: 1.8vh;
      background-color: $SECONDARY_COLOR;

      .sub-element {
        flex-direction: column;

        .question,
        .answer{
          color: black;
        }
      }
    }
  }
}
