.main-section {
  .page-content {
    .element-4 {
      font-size: 1.8vh;
      background-color: $SECONDARY_COLOR;

      .sub-element {
        flex-direction: column;
        width: 150px;

        .question,
        .answer {
          color: black;
        }

        .answer {
          margin-top: 1vh;
        }

        ul {
          display: flex;
          width: 50%;

          li {
            flex: 1;

            a {
              font-size: 3vh;
              color: $QUATERNARY_COLOR;
            }
          }
        }
      }
    }
  }
}
