.main-section {
  .page-content {
    .element-1 {
      color: $QUATERNARY_COLOR;
      background-color: $SECONDARY_COLOR;
      font-family: 'Alias', sans-serif;
    }

    .element-2 {
      font-size: 1.8vh;
      background-color: white;

      .sub-element {
        width: 180px;
      }
    }
  }
}
