.main-section {
  .page-content {
    .element {
      font-family: 'Alias', sans-serif;
    }

    .element-4 {
      background-color: $SECONDARY_COLOR;
      color: black;

      .sub-element {
        width: 70px;
      }
    }

    .element-5 {
      background-color: $PRIMARY_COLOR;
      color: black;

      .sub-element {
        width: 55px;
      }
    }

    .element-6 {
      background-color: $QUATERNARY_COLOR;
      color: $SECONDARY_COLOR;

      .sub-element {
        width: 70px;
      }
    }
  }
}
