.main-section {
  .page-content {
    .element-4,
    .element-5 {
      font-size: calc(0.5vh + 3px);

      .sub-element {
        flex-direction: column;

        .percent {
          font-size: 2vh;
          font-family: 'Alias';
        }
      }
    }

    .element-4 {
      background-color: $SECONDARY_COLOR;

      .sub-element {
        span {
          color: black;
        }
      }
    }

    .element-5 {
      background-color: $QUATERNARY_COLOR;

      .sub-element {
        span {
          color: $SECONDARY_COLOR;
        }
      }
    }
  }
}
