<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="content-language" content="fr, en">
        <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
        <meta property="og:type" content="website">
        <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
        <meta property="og:image" content="<%= htmlWebpackPlugin.options.url %>/images/logo.png">
        <meta property="og:description" content="<%= htmlWebpackPlugin.options.meta.description %>">
        <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>">
        <meta property="article:author" content="<%= htmlWebpackPlugin.options.meta.author %>">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@NgondoTomasz">
        <meta name="twitter:creator" content="@NgondoTomasz">
        <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.url %>">
        <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
        <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.meta.description %>">
        <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.url %>/images/logo.png">
        <meta name="google-site-verification" content="8GDeZdee9evLTNS6eHVZSnaV0esSpGOz-eJpAEQbAhc">
        <script defer="defer" src="service-worker.js"></script>
        <link rel="preconnect" href="https://www.google-analytics.com">
        <link rel="preconnect" href="https://storage.googleapis.com">
        <link rel="canonical" href="https://www.tomasz-ngondo.com">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body>
        <div id="root"></div>
        <canvas class="sphere"></canvas>
        <noscript>This website requires javascript, please activate it and refresh the page.</noscript>
    </body>
</html>
