// keyframes

@keyframes bounce-top {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(-15px) rotate(180deg) translateX(50%);
  }
  40% {
    transform: translateY(-7.5px) rotate(180deg) translateX(50%);
  }
  60% {
    transform: translateY(0) rotate(180deg) translateX(50%);
  }
}

@keyframes bounce-bottom {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) translateX(-50%);
  }
  40% {
    transform: translateY(-15px) translateX(-50%);
  }
  60% {
    transform: translateY(-7.5px) translateX(-50%);
  }
}

// fonts
@font-face {
  font-family: 'Alias';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Alias'),
  url('../fonts/Alias.eot') format('embedded-opentype'),
  url('../fonts/Alias.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Alias.ttf') format('truetype'),
  url('../fonts/Alias.woff') format('woff'),
  url('../fonts/Alias.svg') format('svg');
}

@font-face {
  font-family: 'Miso';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Miso'),
  url('../fonts/Miso.eot') format('embedded-opentype'),
  url('../fonts/Miso.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miso.ttf') format('truetype'),
  url('../fonts/Miso.woff') format('woff'),
  url('../fonts/Miso.svg') format('svg');
}

@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local('icomoon'),
  url('../fonts/icomoon.ttf?snmk96') format('truetype'),
  url('../fonts/icomoon.woff?snmk96') format('woff'),
  url('../fonts/icomoon.svg?snmk96#icomoon') format('svg');
}

.icon {
  font-family: 'icomoon', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-twitter:before {
  content: '\e909';
}
.icon-about:before {
  content: '\e900';
  color: black;
}
.icon-arrow:before {
  content: '\e901';
  color: #fff;
}
.icon-chrome:before {
  content: '\e902';
  color: #fff;
}
.icon-clipboard:before {
  content: '\e903';
  color: #fff;
}
.icon-contact:before {
  content: '\e904';
  color: black;
}
.icon-edge:before {
  content: '\e905';
  color: #fff;
}
.icon-embed:before {
  content: '\e906';
  color: #fff;
}
.icon-explorer:before {
  content: '\e907';
  color: #fff;
}
.icon-firefox:before {
  content: '\e908';
  color: #fff;
}
.icon-home:before {
  content: '\e91e';
  color: black;
}
.icon-linkedin:before {
  content: '\e91f';
}
.icon-logo:before {
  content: '\e920';
  color: #808340;
}
.icon-opera:before {
  content: '\e921';
  color: #fff;
}
.icon-safari:before {
  content: '\e923';
  color: #fff;
}
.icon-skills:before {
  content: '\e924';
  color: black;
}
.icon-tree:before {
  content: '\e925';
  color: #fff;
}
.icon-react:before {
  content: '\e922';
  color: #00d8ff;
}
.icon-react:after {
  content: 'ReactJS';
}
.icon-webpack:after {
  content: 'Webpack';
}
.icon-react:after,
.icon-webpack:after {
  display: block;
  font-size: 2.7vh;
  font-family: 'Miso', sans-serif;
  color: white;
  margin-top: 5px;
}
.icon-webpack .path1:before {
  content: '\e926';
  color: rgb(142, 214, 251);
}
.icon-webpack .path2:before {
  content: '\e927';
  margin-left: -1em;
  color: rgb(28, 120, 192);
}
.icon-bitbucket:before {
  content: "\e90a";
}
// global styles
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  user-select: none;
}

html,
body,
#root,
.main,
.about-more,
.home-more,
.home-more aside,
.locale-switcher .selected-locale,
.locale-switcher .locales-menu,
.locale-switcher .locale {
  height: 100%;
  width: 100%;
}

html,
body,
#root,
.main {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

ul, p {
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

section:not(.about-more):not(.home-more),
.sphere,
.notification {
  height: 45vh;
  width: 45vh;
  max-height: 45vh;
  max-width: 45vh;
  @media screen and (min-width: $MOBILE_BREAKPOINT) {
    height: 75vh;
    width: 75vh;
    max-height: 75vh;
    max-width: 75vh;
  }
}

#root,
.main,
section,
header,
.icon,
.nav,
.page-content,
.element,
.sub-element,
.selected-locale,
.locales-menu,
.notification,
.notification-text,
.skills-more .skill,
.about-more .title,
.about-more .sub-title,
.home-more aside .sub-title,
.home-more aside .sub-title .browsers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification,
.sphere,
.skills-more,
.skills-more .skill span,
.home-more aside .title,
.home-more aside .sub-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  cursor: url('../images/cursor.cur'), move;
  canvas:nth-child(1) {
    display: none;
  }

  body {
    font-family: 'Miso', sans-serif;
    font-size: calc(1.7vh + 6px);
    background-color: $PRIMARY_COLOR;
    color: $TEXT_COLOR;

    noscript {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    #root {
      position: relative;
      flex-direction: column;
      display: block;
      transition: 0.25s;
      transition-property: box-shadow, background-color;
      z-index: 1;

      .main {
        position: fixed;

        section:not(.more-section) {
          position: relative;
          flex-direction: column;
          z-index: 1;

          .nav,
          .page-content {
            flex-direction: column;
            width: 100%;
            position: relative;

            .element {
              width: 18px;
              height: 15px;
              overflow: hidden;
              margin-right: auto;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              text-align: center;
              opacity: 0;

              .sub-element {
                opacity: 0;
                transition: 1s;
                transition-property: opacity;

                .letter {
                  &:hover {
                    text-transform: uppercase;
                  }
                }

                .question,
                .title {
                  font-family: 'Alias';
                }

                .question {
                  display: table;
                }

                .answer {
                  line-height: 1.5;
                  display: table;
                }
              }
            }
          }

          .page-content {
            .element {
              .sub-element,
              .question,
              .title {
                font-size: 100%;
              }
            }
          }
        }
      }
    }
  }
}

