#root[data-route="home"] {
  .main {
    @import 'views/home';
  }
}

#root[data-route="about"] {
  .main {
    @import 'views/about';
  }
}

#root[data-route="skills"] {
  .main {
    @import 'views/skills';
  }
}

#root[data-route="contact"] {
  .main {
    @import 'views/contact';
  }
}

#root[data-route="error"] {
  .main {
    @import 'views/error';
  }
}
