@import 'globals';

html {
  body {
    #root {
      .main {
        @import 'includes/header';

        section {
          @import 'includes/nav';
        }

        @import 'includes/more';
        @import 'widgets/cue';
        @import 'includes/tag';
        @import 'widgets/anagram';
        @import 'includes/notification';
      }
      @import 'includes/footer';
    }

    @import 'app';
    @import 'includes/sphere';
  }
}
